################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SlnFirstAssignment.Runner/PrjFirstAssignment.Runner/obj/Debug
/SlnFirstAssignment.Runner/packages
/SlnFirstAssignment.Runner/SequenceAnalysisLibrary/obj
/SlnFirstAssignment.Runner/SequenceAnalysisLibrary.Test/obj/Debug
/SlnFirstAssignment.Runner/SumOfMultipleLibrary/obj
/SlnFirstAssignment.Runner/SumOfMultipleLibrary.Test/obj/Debug
